@{
    ViewData["Title"] = "Login To Your Account";
}

<form asp-controller="User" asp-action="UserLogin" method="post">
  @Html.AntiForgeryToken()

  <h5>Please Login Your Account.</h5><br>

  <table class = "table table-bordered text-center">
    <tbody>

      <tr>
        <th class="table-dark">Email Address</th>
        <td>
          <input type="email" name="email" required>
        </td>
      </tr>

      <tr>
        <th class="table-dark">Password</th>
        <td>
          <input type="password" name="password" minlength=6 pattern="[0-9A-Za-z]+" required>
        </td>
      </tr>

    </tbody>
  </table>

  <button type="submit">Login</button>
  
</form>