@{
    ViewData["Title"] = "Enter Secret Code";
}

<form asp-controller="Admin" asp-action="AdminSecretCode" method="post">
  @Html.AntiForgeryToken()

  <h5>Please Enter Secret Code.</h5><br>

  <table class = "table table-bordered text-center">
    <tbody>

      <tr>
        <th class="table-dark">Secret Code</th>
        <td>
          <input type="password" name="secretcode" pattern="[0-9A-Za-z]+" required>
        </td>
      </tr>

    </tbody>
  </table>

  <button type="submit">Login</button>
  
</form>