@model List<Acedrive.Domain.Models.VehicleType>
<form asp-controller="Admin" asp-action="UpdateVehicleType" method="get">
 <table class = "table table-bordered text-center" >
    <thead class = "thead-dark">
      <tr>
        <th>Vehicle Type Id</th>
        <th>Vehicle Type Name</th>
        <th>Price (Charged Per Day)</th>
      </tr>
    </thead>
    
    <tbody>
      @foreach (var item in Model) {
        <tr>
          <td>@item.VehicleTypeId</td>
          <td>@item.VehicleTypeName</td>
          <td>$@item.VehicleTypeCostPerDay</td>
          <td><button type="submit" name="vtid" value="@item.VehicleTypeId">Update</button></td>
        </tr>
      }
    </tbody>
  </table>
</form>