@model List<Acedrive.Domain.Models.VehicleType>

 <table class = "table table-bordered text-center" >
    <thead class = "thead-dark">
      <tr>
        <th>Vehicle Type ID</th>
        <th>Vehicle Type Name</th>
        <th>Price (Charged Per Day)</th>
        <th colspan="2"></th>
      </tr>
    </thead>
    
    <tbody>
      @foreach (var item in Model) {
        <tr>
          <td>@item.VehicleTypeId</td>
          <td>@item.VehicleTypeName</td>
          <td>$@item.VehicleTypeCostPerDay</td>
          <td>
            <form asp-controller="Admin" asp-action="UpdateVehicleType" method="get">
              <button type="submit" name="vtid" value="@item.VehicleTypeId">Update</button>
            </form>
          </td>
          <td>
            <form asp-controller="Admin" asp-action="DeleteVehicleType" method="get">
              <button type="submit" name="vtid" value="@item.VehicleTypeId">Delete</button>
            </form>
          </td>
        </tr>
      }
    </tbody>
  </table>
  
  <br>

  <table class = "table table-bordered text-center">
    <tbody>
      <tr colspan="4">
        <th class="table-dark">Back to Admin Portal</th>
        <td>
          <form asp-controller="Admin" asp-action="AdminPortal" method="get">
            <button type="submit">Click Here</button>
          </form>
        </td>
      </tr>
    </tbody>
  </table>