@{
  ViewData["Title"] = "Home Page";
  Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div class="text-center">
    <p>Become an Ace Driver!</p>
</div>

<div class="form-actions">
  <form asp-controller="User" asp-action="UserLogin" method="get">
    <button type="submit" class="btn btn-default btn-lg">Login</button>
  </form>
</div>
<div class="form-actions">
  <form asp-controller="User" asp-action="UserRegistration" method="get">
    <button type="submit" class="btn btn-default btn-lg">Register</button>
  </form>
</div>
<div class="form-actions">
  <form asp-controller="Admin" asp-action="AdminSecretCode" method="get">
    <button type="submit" class="btn btn-default btn-lg">Admin</button>
  </form>
</div>
